$dark: #242530;
$light: #edeef7;

.form-container {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	text-align: center;

	transition: all 200ms ease-in, height 1ms 200ms;

	&.hidden {
		transition: all 200ms ease-in, height 1ms 200ms;
		opacity: 0;
		transform: translateY(-50px);
		height: 0;
	}

	form {
		text-align: center;
		align-self: center;
		justify-self: center;
		margin-bottom: 10%;
		min-width: 80%;

		& > * {
			margin: 10px 0;
		}

		label {
			font-size: 0.75em;
			margin-bottom: 0;
		}

		input[type="text"] {
			text-align: center;
			font-size: 1em;
			padding: 0.3em 0.5em;
			border: 0;
			border-radius: 2px;
			background: $dark;
			color: $light;

			&:focus {
				box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.8);
			}
		}
		::placeholder {
			color: #4b4e63;
			text-align: center;
		}

		.stars {
			display: flex;
			justify-content: center;
			margin-top: 0;
			text-align: center;
		}

		input[type="submit"] {
			border-radius: 2em;
			padding: 0.9em 1.2em;
		}
	}
}
