.list-container {
	// background: blueviolet;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;

	.player-count {
		position: absolute;
		top: -40px;
		right: 0;
	}

	ul {
		position: relative;
		padding: 0;
		align-self: center;
		margin-bottom: 10%;
		width: 65%;

		.player-rating {
			margin: 0 1.2em;
			font-weight: 400;
		}

		.btn-group {
			// margin-left: 1.2em;
		}

		.list-group-item {
			position: relative;
			z-index: 1;
			background: $dark;
			// background-image: linear-gradient(to-left, red 0%, $dark 100%);
			border-radius: 0;
			padding: 0 0 0 1.2em;
			border: 0;
			line-height: 1.7em;

			&::before {
				content: "";
				z-index: -1;
				position: absolute;
				left: -5px;
				bottom: 0;
				top: 0;
				right: 10px;
				background: $dark;
				transform: skewX(-10deg);
			}

			.player-rating-star {
				color: rgb(255, 255, 79);
			}

			button {
				color: #fff;
				// transform: skewX(-10deg);
				border-radius: 0;
			}
		}
	}
}
