.list-container {
	// background: blueviolet;
	width: 60%;
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: center;

	transition: all 200ms ease-in, height 1ms 200ms;

	&.hidden {
		transition: all 200ms ease-in, height 1ms 200ms;
		opacity: 0;
		transform: translateY(-50px);
		height: 0;
	}

	.player-count {
		position: absolute;
		top: -40px;
		right: 0;
	}

	ul {
		position: relative;
		padding: 0;
		align-self: center;
		margin-bottom: 10%;
		min-width: 55%;

		.list-group-item {
			position: relative;
			z-index: 1;
			background: $dark;
			// background-image: linear-gradient(to-left, red 0%, $dark 100%);
			border-radius: 0;
			padding: 0 0 0 1.2em;
			border: 0;
			line-height: 1.7em;

			&::before {
				content: "";
				z-index: -1;
				position: absolute;
				left: -5px;
				bottom: 0;
				top: 0;
				right: 10px;
				background: $dark;
				transform: skewX(-10deg);
			}

			button {
				color: #fff;
				border-radius: 0;
			}
		}
	}
}
