.teams-container {
	transition: all 400ms ease-in-out 600ms;
	display: flex;
	flex: 5;
	width: 100%;
	align-self: flex-start;
	margin-top: 3em;
	opacity: 0;
	transform: translateY(-70px);

	&.hiding {
		display: none;
	}

	align-items: baseline;

	.team-one,
	.team-two {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.list-group-item {
			width: 70%;
			z-index: 1;
			background: $dark;
			padding: 0.4em 0.5em 0.4em 1em;
		}
	}
}
