// IMPORTS

@import "components/styles/form";
@import "components/styles/list";
@import "components/styles/teams";

// VARIABLES
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$bg: #00e34f;
$primary: #0069d9;
$dark: #242530;
$light: #edeef7;

/**
 * Global styling
 */

.label {
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 0.8rem;
	font-weight: bolder;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.1);
}

.btn {
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-weight: bolder;
	padding: 0.5em 0.6em;
}

.player-rating-star {
	color: rgb(255, 255, 79);
}

.player-rating {
	margin: 0 0.5em 0 1em;
	font-weight: 300;
}

/**
 * General styling
 */

html *,
body * {
	box-sizing: border-box;
	list-style-type: none;
	list-style-position: inside;
}

body {
	font-family: $font-stack;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: $bg;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='0.18' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
	color: #fff;

	.app-container {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;

		#generate {
			padding: 1em 1.5em;
			background: $primary;
			position: absolute;
			z-index: 2;
			bottom: 3em;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 0;
			box-shadow: 5px 5px 0 $dark;
		}
	}
}

@media screen and (max-width: 900px) {
	.form-container,
	.list-container,
	.teams-container {
		width: 100%;
		height: auto;
	}

	.form-container {
		justify-content: center;

		form {
			min-width: 60%;
			max-width: 70%;
			margin: 5% 0 5%;
		}
	}

	.list-container {
		.intro {
			text-align: center;
		}
	}

	.teams-container {
		flex-direction: column;
		.team-one,
		.team-two {
			width: 100%;
			margin-bottom: 3em;
		}
	}
}
